* {
    border: 1px solid red;
}

/* HEADER */

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 108px;
  background-color: #444;
}

.main-nav {  height: 48px;

}

.main-nav-buttons {
  float: right;
}

.nav-button {
  height: 100%;
  display: inline-block;
  width: 48px;
}

/* MAIN */
main {
  padding-top: 108px;
}

/* COVER SECTION */

.cover-section {
  height: calc(100vh - 108px);
  display: grid;
  /* grid-template-columns: 2fr 1fr; */
}

@media screen and (min-width: 768px) {
  .cover-section {
    grid-template-columns: 2fr 1fr;
  }
  .cover-main-item {
    grid-row: span 2;
  }
}

/* LATEST NEWS SECTION AND LATEST DEALS SECTION GRID */

.latest-grid {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
}

.latest-item {
  height: 88px;
  /* image should have 75x75px */
}

@media screen and (min-width: 768px) {
  .latest-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .latest-grid > .section-heading {
    grid-column: span 3;
  }
}

/* LATEST NEWS SECTION */

/* LATEST FUNDING SECTION */

.latest-funding-section {
  background-color: gray;
}

.latest-funding-item {
  height: 246px;
}

.latest-funding-item:last-child {
  display: none;
}

@media screen and (min-width: 768px) {
  .latest-funding-nav {
    grid-column: span 3;
  }

  .latest-funding-nav li {
    display: inline;
  }
}

/* CATEGORIES SECTION */

.categories-section {
  display: grid;
  background-color: rosybrown;
}

@media screen and (min-width: 768px) {
  .categories-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* LATEST DEALS SECTION */

.latest-deals-heading {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .latest-deals-heading {
    grid-column: span 3;
  }
}

/* FOOTER */

footer {
    height: 280px;
    background-color: #000;
}

.hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
}
