@font-face {
  font-family: "ARS Maquette";
  src: url("../fonts/ARSMaquettePro.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "ARS Maquette";
  src: url("../fonts/ARSMaquettePro-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Shentox";
  src: url("../fonts/Shentox.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Avalon";
  src: url("../fonts/Avalon.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Avalon";
  src: url("../fonts/Avalon_Bold.ttf");
  font-weight: bold;
}

html {
  font-size: 62.5%; /* Only for convenient using of rem similar to px (1.6rem = 16px) */
}

/* HEADER */

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 108px;
  font-family: "ARS Maquette", Helvetica, sans-serif;
  z-index: 1;
}

nav {
  height: 48px;
  display: grid;
  grid-template-columns: 106px 1fr;
}

.logo-img {
  width: 106px;
  background-color: #f42;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right,#c09,#f42 85%);
}

.logo-img img {
  width: 66px;
  height: 16px;
}

.sub-nav {
  display: none;
}

.main-nav {
  background-color: #fcfcfc;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-nav-links {
  display: none;
}

.main-nav-icons {
  display: flex;
  height: 48px;
}

.nav-icon {
  width: 48px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #eee;
  text-decoration: none;
  color: #aaa;
  font-size: 18px;
}

.menu-bar {
  color: #f42;
}

.nav-ads {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFDE3E;
  text-decoration: none;
  color: #000;
  height: 60px;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  nav {
    height: 80px;
  }

  .logo-img {
    grid-row: span 2;
  }

  .sub-nav {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    padding: 0 20px 0 8px;
    justify-content: space-between;
    background-color: #131313;
    height: 32px;
  }

  .sub-nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
  }

  .left-sub-nav li,
  .right-sub-nav li {
    display: inline;
    margin-left: 10px;
  }

  .main-nav {
    justify-content: space-between;
    font-size: 13px;
    padding-left: 10px;
    font-family: "Shentox", Helvetica, sans-serif;
  }

  .main-nav-links {
    display: block;
  }

  .main-nav-links li {
    display: inline;
    padding: 0 10px;
  }

  .main-nav-links a {
    text-decoration: none;
    color: #aaa;
  }

  .main-nav-links .hidden-nav-link {
    display: none;
  }

  .menu-bar {
    display: none;
  }

  .nav-ads {
    justify-content: flex-start;
    height: 30px;
    padding: 0 126px;
  }
}

@media screen and (min-width: 1024px) {
  nav {
    grid-template-columns: 1fr;
  }

  .logo-img {
    display: none;
  }

  .main-nav-links .hidden-nav-link {
    display: inline;
  }

  .nav-ads {
    padding: 0 20px;
  }
}

/* MAIN */
main {
  padding-top: 104px;
}

/* COVER SECTION */

.cover-section {
  height: calc(100vh - 108px);
  display: grid;
  grid-gap: 8px;
  padding: 0 8px;
  color: #fff;
}

.cover-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Snag_1094152b-796x407.png"); */
  padding: 14px 12px;
}

.cover-main-item {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Copy-of-...-1-796x417.png");
}

.cover-second-item {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/02/TNW-Conference-PanelImg.jpg");
}

.cover-third-item {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Untitled-design7-796x417.png");
}

.cover-item h2,
.categories-articles-heading {
  color: #fff;
  font-size: 1.3rem;
  font-family: "Shentox", Helvetica, sans-serif;
}

.cover-item h3,
.category-main-article h4 {
  font-size: 2.0rem;
  margin: 5px 0;
  color: #fff;
  font-family: "Avalon", Helvetica, sans-serif;
}

.cover-item p {
  font-size: 1.2rem;
  font-family: "ARS Maquette", Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .cover-section {
    height: 60vh;
    max-height: 560px;
    grid-template-columns: 2fr 1fr;
  }

  .cover-main-item {
    grid-row: span 2;
  }
}

@media screen and (min-width: 1024px) {
  .cover-section {
    height: 75vh;
  }
}

/* LATEST NEWS SECTION AND LATEST DEALS SECTION GRID */

.latest-news-section .section-heading {
  margin-bottom: 24px;
}

.latest-grid {
  display: grid;
  padding: 0 20px;
  margin-top: 20px;
  font-family: "ARS Maquette", Helvetica, sans-serif;
}

.latest-item {
  display: flex;
  margin: 5px 0;
}

.latest-item-image {
  width: 75px;
  height: 75px;
}

.latest-item-content {
  padding-left: 13px;
}

.latest-item-heading {
  font-size: 1.4rem;
  color: #000;
}

.latest-item-author {
  font-size: 1.1rem;
  color: #aaa;
  margin-top: 6px;
}

.section-heading {
  font-size: 2.6rem;
  font-family: "Avalon", Helvetica, sans-serif;
  color: #f42;
  font-weight: bold;
  cursor: pointer;
}

.section-heading:hover {
  color: #000;
}

@media screen and (min-width: 768px) {
  .latest-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-heading {
    grid-column: span 3;
  }
}

@media screen and (min-width: 1024px) {
  .latest-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .section-heading {
    grid-column: span 4;
  }
}

/* LATEST NEWS SECTION */

/* LATEST FUNDING SECTION */

.latest-funding-nav-list {
  margin-bottom: 14px;
}

.latest-funding-nav-list li {
  margin-top: 14px;
}

.funding-nav-link {
  color: #f42;
  font-size: 1.3rem;
}

.funding-nav-link:hover {
  color: #000;
}

.latest-funding-item {
  /* height: 246px; */
  background-color: #FFFAF8;
  color: #555;
  margin: 8px 0;
}

.funding-heading-container {
  position: relative;
}

.funding-heading {
  background-color: #f42;
  color: #fff;
  line-height: 44px;
  padding-left: 80px;
  font-size: 1.8rem;
  cursor: pointer;
}

.funding-sub-heading {
  background-color: rgba(255,68,34,.08);
  height: 60px;
  padding-left: 80px;
  font-size: 1.8rem;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.funding-serie {
  font-size: 1.1rem;
  margin-top: 4px;
  color: #777;
  font-family: "Shentox", Helvetica, sans-serif;
} 

.latest-funding-item:last-child {
  display: none;
}

.funding-image {
  width: 60px;
  height: 60px;
  margin: 10px;
  position: absolute;
}

.funding-list {
  padding: 16px;
  font-size: 1.3rem;
  line-height: 3rem;
}

.funding-list i {
  font-size: 1.8rem;
  color: #000;
  padding-right: 8px;
}

.funding-item-paragraph {
  padding: 16px;
  font-size: 1.2rem;
  border-top: 1px solid rgba(255,68,34,.25);
}

.funding-item-paragraph span {
  color: #aaa;
}

@media screen and (min-width: 768px) {
  .latest-funding-nav {
    grid-column: span 3;
  }

  .latest-funding-nav li {
    display: inline;
  }
}

@media screen and (min-width: 1024px) {
  .latest-funding-nav {
    grid-column: span 4;
  }

  .latest-funding-item:last-child {
    display: block;
  }
}

/* CATEGORIES SECTION */

.categories-section {
  display: grid;
  background-color: rosybrown;
}

.category-main-article {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Snag_342b7512-368x276.png");
}

@media screen and (min-width: 768px) {
  .categories-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .categories-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* LATEST DEALS SECTION */

.latest-deals-heading {
  display: flex;
  justify-content: space-between;
}

.sale-discount-box {
  display: none;
}

/* FOOTER */

footer {
  height: 280px;
  background-color: #000;
}

.hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}
