* {
    border: 1px solid red;
}

/* HEADER */

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 108px;
  background-color: #444;
}

nav {
  height: 48px;
  display: grid;
  grid-template-columns: 106px 1fr;
}

.logo-img {
  width: 106px;
}

.sub-nav {
  display: none;
}

.main-nav-buttons {
  float: right;
  height: 48px;
}

.nav-button {
  width: 48px;
  height: 100%;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  nav {
    height: 80px;
  }

  .logo-img {
    grid-row: span 2;
  }

  .sub-nav {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    padding: 0 20px 0 8px;
    justify-content: space-between;
    background-color: #131313;
    height: 32px;
  }

  .sub-nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
  }

  .left-sub-nav li, .right-sub-nav li {
    display: inline;
    margin-left: 12px;
  }

  .menu-bar {
    display: none;
  }
}

@media screen and (min-width: 1024px){
  nav {
    grid-template-columns: 1fr;
  }

  .logo-img {
    display: none;
  }
}

/* MAIN */
main {
  padding-top: 104px;
}

/* COVER SECTION */

.cover-section {
  height: calc(100vh - 108px);
  display: grid;
  /* grid-template-columns: 2fr 1fr; */
}

@media screen and (min-width: 768px) {
  .cover-section {
    grid-template-columns: 2fr 1fr;
  }
  .cover-main-item {
    grid-row: span 2;
  }
}

/* LATEST NEWS SECTION AND LATEST DEALS SECTION GRID */

.latest-grid {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
}

.latest-item {
  height: 88px;
  /* image should have 75x75px */
}

@media screen and (min-width: 768px) {
  .latest-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-heading {
    grid-column: span 3;
  }
}

@media screen and (min-width: 1024px) {
  .latest-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .section-heading {
    grid-column: span 4;
  }
}

/* LATEST NEWS SECTION */

/* LATEST FUNDING SECTION */

.latest-funding-section {
  background-color: gray;
}

.latest-funding-item {
  height: 246px;
}

.latest-funding-item:last-child {
  display: none;
}

@media screen and (min-width: 768px) {
  .latest-funding-nav {
    grid-column: span 3;
  }

  .latest-funding-nav li {
    display: inline;
  }
}

@media screen and (min-width: 1024px) {
  .latest-funding-nav {
    grid-column: span 4;
  }
  .latest-funding-item:last-child {
    display: block;
  }
}

/* CATEGORIES SECTION */

.categories-section {
  display: grid;
  background-color: rosybrown;
}

@media screen and (min-width: 768px) {
  .categories-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .categories-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* LATEST DEALS SECTION */

.latest-deals-heading {
  display: flex;
  justify-content: space-between;
}

/* FOOTER */

footer {
    height: 280px;
    background-color: #000;
}

.hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
}
